<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RavenServerPath" value="D:\\Guidoo\\packages\\RavenDB.Server.1.0.992\\Raven.Server.exe"/>
    </appSettings>
    <connectionStrings>
        <add name="RavenHQ" connectionString="Url=http://localhost:8080/"/>
    </connectionStrings>
</configuration>